@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/interVar.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 25% 151%;
}

:root {
    --primary-color: rgb(25, 105, 255);
    --primary-color-rgb: 25, 105, 255;
    --secondary-color: rgb(54, 46, 79);
    --secondary-color-rgb: 54, 46, 79;

    --light-color: rgb(249, 255, 254);
    --light-color-rgb: 249, 255, 254;
    --light-color-secondary: rgb(161, 150, 192);
    --light-color-secondary-rgb: 161, 150, 192;

    --dark-color: rgb(9, 6, 24);
    --dark-color-rgb: 9, 6, 24;
    --dark-color-secondary: rgb(26, 22, 44);
    --dark-color-secondary-rgb: 26, 22, 44;

    --grey-color: rgb(122, 111, 155);
    --grey-color-secondary: rgb(208, 199, 229);
    --grey-color-secondary-rgb: 208, 199, 229;
    --dark-grey-color: rgb(70, 68, 77);
    --dark-grey-color-secondary: rgb(16, 12, 33);
    --light-grey-color: rgb(242, 240, 254);
    --light-grey-color-rgb: 242, 240, 254;

    --accent-color: rgb(255, 46, 91);

    --transition: all .15s cubic-bezier(.4,0,.2,1);
    --transition-long: all .5s cubic-bezier(.4,0,.2,1);
}

.light-theme {
    --primary-color: rgb(51, 115, 255);
    --primary-color-rgb: 51, 115, 255;
    --secondary-color: rgb(198, 218, 255);
    --secondary-color-rgb: 198, 218, 255;

    --light-color: rgb(9, 6, 24);
    --light-color-rgb: 9, 6, 24;
    --light-color-secondary: rgb(64, 95, 106);
    --light-color-secondary-rgb: 64, 95, 106;

    --dark-color: rgb(249, 255, 254);
    --dark-color-rgb: 249, 255, 254;
    --dark-color-secondary: rgb(234, 234, 240);
    --dark-color-secondary-rgb: 234, 234, 240;

    --grey-color: rgb(111, 130, 155);
    --grey-color-secondary: rgb(37, 44, 57);
    --grey-color-secondary-rgb: 37, 44, 57;
    --dark-grey-color: rgb(242, 240, 254);
    --dark-grey-color-secondary: rgb(246, 243, 256);
    --light-grey-color: rgb(70, 68, 77);
    --light-grey-color-rgb: 70, 68, 77;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    line-height: 1.4;
    color: var(--light-color-secondary);
    background-color: var(--dark-color);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.container {
    width: 100%;
    max-width: calc(1280px + 4rem);
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    line-height: 1.4;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    color: var(--light-color);
}

input,
textarea,
select {
    width: 100%;
    padding: .25rem .5rem;
    border: 1px solid var(--secondary-color);
}

button {
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    padding: .5rem 1rem;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.no-scroll {
    overflow: hidden;
}

@media (max-width: 480px) {
    .container {
        padding: 0 1rem;
    }
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: var(--dark-color);
    z-index: 9999;
    transition: var(--transition-long);
}

#preloader.hide {
    transform: translateY(-100%);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: .375rem;
}

::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: var(--dark-color);
}

::-webkit-scrollbar-thumb {
    background: #2B2E39;
    border-radius: .25rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #383A45;
}

/* Color */
.light-color {
    color: var(--light-color) !important;
}

.light-color-secondary {
    color: var(--light-color-secondary);
}

.dark-color {
    color: var(--dark-color);
}

.dark-color-secondary {
    color: var(--dark-color-secondary);
}

/* Text */
.heading-1 {    
    color: var(--light-color);
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 1.25;
}

.heading-2 {    
    color: var(--light-color);
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.25;
}

.heading-3 {    
    color: var(--light-color);
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1.25;
}

.text {
    line-height: 1.625;
}

.hr {
    height: 1px;
    border-width: 0;
    background-image: linear-gradient(to right, transparent, var(--secondary-color), transparent);
}

@media (max-width: 768px) {
    .heading-1 {
        font-size: 3rem;
        line-height: 1.25;
    }

    .heading-2 {
        font-size: 2.25rem;
        line-height: 1.25;
    }

    .heading-3 {
        font-size: 1.25rem;
        line-height: 1.25;
    }
}

@media (max-width: 480px) {
    .heading-2 {
        font-size: 1.875rem;
    }
}

/* Pill */
.pill {
    position: relative;
    display: inline-block;
    padding: .25rem 1rem;
    margin-bottom: 1rem;
    border-radius: 9999px;
    border: .5px solid rgba(var(--primary-color-rgb), .3);
    background-color: rgba(var(--primary-color-rgb), .1);
    color: var(--primary-color);
    font-weight: 500;
    text-wrap: pretty;
    text-transform: uppercase;
    backdrop-filter: blur(4px);
    overflow: hidden;
}

.pill::after {
    content: '';
    position: absolute;
    background-color: rgba(var(--primary-color-rgb), .1);
    inset: 0;
    animation: shiny-badge-slide 6s infinite;
}

@keyframes shiny-badge-slide {
    0% {
        transform: translate(-100%) skew(-16deg);
    }
    15%, 100% {
        transform: translate(100%) skew(-16deg);
    }
}

@media (max-width: 768px) {
    .pill {
        font-size: .875rem;
        line-height: 1.25rem;
    }
}
/* Start Logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__link {
    letter-spacing: -1px;
    font-size: 20px;
    line-height: 1;
    color: var(--light-color);
    font-weight: 200;
    text-transform: uppercase;
    transition: var(--transition);
    text-align: center;
}

.logo__link span {
    font-weight: 400;
}

.logo__link:hover {
    color: var(--light-color);
    animation: jiggle .6s cubic-bezier(.85,0,.15,1);
}

@keyframes jiggle {
    0% {
        transform: skew(0) skewY(0);
    }
    
    50% {
        transform: skew(-6deg) skewY(-6deg);
    }

    100% {
        transform: skew(0) skewY(0);
    }
}

@media (max-width: 768px) {
    .logo__link {
        font-size: 16px;
    }
}
/* End Logo */

/* Start Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 40;
}

.header__inner {
    margin-top: 1rem;
    padding: .5rem;
    border: .5px solid transparent;
    border-radius: 9999px;
    background-color: transparent;
    transition: var(--transition-long);
}

.header__inner.scrolled {
    background-color: rgba(var(--dark-color-rgb), .5);
    backdrop-filter: blur(12px);
    border-color: rgb(46 54 79);
}

.header__grid {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
}

.header__left-mobile {
    display: none;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 1rem;
}

.header__nav-link {
    position: relative;
    display: flex;
    align-items: center;
    padding: .25rem;
    height: 100%;
    color: var(--light-color);
    font-size: 14px;
    text-transform: uppercase;
}

.header__nav-link:hover {
    color: var(--light-color);
}

.header__nav-link::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 12.25%;
    height: 1px;
    transform: scaleX(0);
    background-image: linear-gradient(to right, transparent, var(--grey-color-secondary), transparent);
    transition: var(--transition);
}

.header__nav-link:hover::after {
    transform: scaleX(-1);
}

.header__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.header__theme {
    background-color: transparent;
    padding: .5rem;
    transition: var(--transition-long);
}

.header__theme > svg {
    width: 1.5rem;
    height: 1.5rem;
    transition: var(--transition-long);
}

.header__theme:hover > svg {
    transform: rotate(360deg) scale(1.2);
}

.header__button {
    position: relative;
    isolation: isolate;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 9999px;
    border: 1px solid var(--light-color);
    color: var(--light-color);
    transition: var(--transition-long);
    padding: .5rem 1rem;
    font-size: 16px;
    line-height: 1.5;
}

.header__button:hover {
    color: var(--dark-color);
}

.header__button::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(100% + 1.5rem);
    background-color: var(--light-color);
    inset-inline-start: calc(-1 * .75rem);
    transform-origin: left;
    transform: scaleX(0) skewX(-16deg);
    transition: var(--transition-long);
    z-index: -10;
    transform: skew(-16deg) scaleX(0);
}

.header__button:hover::before {
    transform: skew(-16deg) scaleX(1);
}

.header__burger {
    display: none;
}

.header__mobile {
    display: none;
}

.header__bg {
    display: none;
}

@media (max-width: 1140px) {
    .header__nav {
        display: none;
    }

    .header__theme {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        transition: var(--transition-long);
        border-radius: 9999px;
    }

    .header__theme--desktop {
        display: none;
    }

    .header__theme:hover > svg {
        transform: rotate(360deg);
    }

    .header__left-mobile {
        display: flex;
    }

    .header__burger {
        display: flex;
        align-items: center;
    }

    .header__burger-toggle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        gap: .25rem;
        width: 56px;
        height: 44px;
        padding: .5rem 1rem;
        border-radius: 9999px;
        transition: var(--transition-long);
    }

    .header__inner.scrolled .header__theme {
        background-color: rgba(var(--dark-color-rgb), .4);
    }

    .header__inner.scrolled .header__burger-toggle {
        background-color: rgba(var(--dark-color-rgb), .4);
    }

    .header__burger-toggle > span {
        width: 18px;
        height: 1px;
        background-color: var(--light-color);
        transition: var(--transition-long);
    }

    .header__burger-toggle.active > span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .header__burger-toggle.active > span:nth-child(2) {
        transform: scale(0);
    }

    .header__burger-toggle.active > span:nth-child(3) {
        transform: rotate(-45deg) translate(2px, -2px);
    }

    .header__mobile {
        display: block;
        padding: 1rem 0;
        opacity: 0;
        transition: var(--transition-long);
        visibility: hidden;
        pointer-events: none;
        transform: translateY(-20px);
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
    }

    .header__mobile.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateY(0);
    }

    .header__mobile-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header__mobile-nav-link {
        padding: 1rem .5rem;
        text-transform: uppercase;
        color: var(--light-color-secondary);
        transition: var(--transition);
    }

    .header__mobile-nav-link:hover {
        letter-spacing: .05em;
        color: var(--light-color);
    }

    .header__mobile-nav-link:not(:first-child) {
        border-top: 1px solid var(--secondary-color)
    }

    .header__bg {
        display: block;
        position: fixed;
        inset: 0;
        background-color: rgba(var(--dark-color-rgb), .9);
        backdrop-filter: blur(4px);
        z-index: -10;
        opacity: 0;
        transition: var(--transition-long);
        visibility: hidden;
        pointer-events: none;
    }

    .header__bg.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

@media (max-width: 768px) {
    .header__button {
        font-size: .875rem;
        line-height: 1.25rem;
        padding: .375rem .75rem;
    }

    .header__burger-toggle {
        width: 48px;
        height: 36px;
    }

    .header__theme {
        width: 36px;
        height: 36px;
    }

    .header__theme > svg {
        width: 1.25rem;
        height: 1.25rem;
    }
}
/* End Header */

/* Start Hero */
.hero {
    position: sticky;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6.75rem 0;
    inset: 0;
    background-color: var(--primary-color);
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.hero__heading {
    font-size: 96px;
    line-height: 1.25;
    color: var(--light-color);
    font-weight: 700;
    text-align: center;
    text-wrap: balance;
}

.hero__buttons {
    display: flex;
    align-items: center;
    row-gap: .75rem;
    column-gap: 1.5rem;
}

.hero__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding: 1rem 2rem;
    border: 1px solid var(--light-color);
    color: var(--light-color);
    font-size: 18px;
    line-height: 1.5;
    isolation: isolate;
    user-select: none;
    overflow: hidden;
    transition: var(--transition-long);
}

.hero__button.invert {
    color: var(--primary-color);
    background-color: var(--light-color);
}

.hero__button:hover {
    color: var(--primary-color);
    letter-spacing: 1.25px;
}

.hero__button.invert:hover {
    color: var(--light-color);
}

.hero__button::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(100% + 1.5rem);
    background-color: var(--light-color);
    inset-inline-start: calc(-1 * .75rem);
    transform-origin: left;
    transform: scaleX(0) skewX(-16deg);
    transition: var(--transition-long);
    z-index: -10;
    transform: skew(-16deg) scaleX(0);
}

.hero__button.invert::before {
    background-color: var(--primary-color);
}

.hero__button:hover::before {
    transform: skew(-16deg) scaleX(1);
}

.hero__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/images/hero.webp');
    background-size: 103% 103%;
    background-repeat: no-repeat;
    object-fit: fill;
    overflow: hidden;
    inset: 0;
    pointer-events: none;
    z-index: -10;
}

.light-theme .hero__background {
    filter: invert(1);
}

@media (max-width: 1140px) {
    .hero__heading {
        font-size: 4.5rem;
        line-height: 1;
    }
}

@media (max-width: 768px) {
    .hero__heading {
        font-size: 3rem;
        line-height: 1.25;
    }

    .hero__button {
        padding: .75rem 1.5rem;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .hero__heading {
        font-size: 2.25rem;
    }

    .hero__buttons {
        flex-direction: column;
        align-items: stretch;
    }
}
/* End Hero */

/* Start About */
.about {
    position: relative;
    width: 100%;
    background-color: var(--dark-color);
    z-index: 10;
}

.about__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.about__img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    vertical-align: middle;
    width: 100%;
    max-width: 50%;
    height: 100%;
    background-color: var(--dark-color-secondary);
    object-fit: cover;
    object-position: center;
}

.about__description {
    width: 100%;
    padding: 6.75rem 0 6.75rem 5rem;
    grid-column-start: 2;
}

.about__description-heading {
    margin-bottom: 1rem;
}

.about__description-heading h2 {
    line-height: 1;
}

.about__description-heading span {
    display: inline-block;
    opacity: 0;
}

@keyframes letterEntry {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes letterExit {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-20px) translateX(20px);
        opacity: 0;
        filter: blur(5px);
    }
}

@media (max-width: 1280px) {
    .about__description {
        padding-inline-start: 2.5rem;
    }
}

@media (max-width: 1140px) {
    .about__img {
        position: unset;
        max-width: unset;
        height: 100vh;
    }

    .about__grid {
        grid-template-columns: 1fr;
        min-height: unset;
    }

    .about__description {
        padding: 7rem 0;
        grid-column-start: 1;
    }

    .about__description-text {
        max-width: 65ch;
    }
}
/* End About */

/* Start Work */
.work {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--dark-color);
    border-top: .5px solid var(--secondary-color);
    z-index: 10;
}

.work__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.work__heading {
    margin-bottom: 1rem;
}

.work__slider {
    position: relative;
    padding: 2rem 0 0;
}

.work__slider-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    pointer-events: none;
    z-index: 10;
}

.work__slider-controls > button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    aspect-ratio: 1 / 1;
    height: fit-content;
    border-radius: 9999px;
    border: 1px solid var(--secondary-color);
    color: var(--light-color);
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / .07)) drop-shadow(0 2px 2px rgb(0 0 0 / .06));
    backdrop-filter: blur(12px);
    background-color: rgba(var(--dark-color-rgb), .5);
    pointer-events: auto;
    cursor: pointer;
    transition: var(--transition);
}

.work__slider-controls > button svg {
    width: 1.25rem;
    height: 1.25rem;
}

.work__slider-controls > button.disabled {
    opacity: .5;
    cursor: not-allowed;
}

.work__slider-wrapper {
    height: calc(clamp(18rem, 42vmin, 26rem)* 1.5);
    overflow: hidden;
    user-select: none;
}

.work__slider-list {
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    column-gap: 1.5rem;
    overflow-x: auto;
    padding-inline-end: calc(50vw - ((clamp(18rem, 42vmin, 26rem) + 1.5rem) / 2));
    padding-inline-start: calc(50vw - (clamp(18rem, 42vmin, 26rem) / 2) - 7px);
    overflow: hidden;
}

.work__slider-item {
    position: relative;
    width: clamp(18rem, 42vmin, 26rem);
    aspect-ratio: 2 / 3;
    border-radius: .375rem;
    overflow: hidden;
    border: 1px solid rgba(var(--light-color-rgb), .3);
    transition: var(--transition-long);
}

.work__slider-link {
    display: block;
    width: 100%;
    height: 100%;
}

.work__slider-link > img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: .375rem;
    object-fit: cover;
    pointer-events: none;
    inset: 0;
    transition: var(--transition-long);
    transition-duration: .7s;
    z-index: -10;
}

.work__slider-link:hover > img {
    transform: scale(1.05);
}

.work__slider-link > article {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .5rem;
    padding: 1rem;
    text-align: center;
    background-color: rgba(var(--dark-color-rgb), .5);
    opacity: 0;
    backdrop-filter: blur(4px);
    inset: 0;
    pointer-events: none;
    transition: var(--transition-long);
    transition-duration: .3s;
}

.work__slider-link:hover > article {
    opacity: 1;
}

.work__slider-link > article > div {
    overflow: hidden;
}

.work__slider-link > article > div > * {
    display: block;
    transform: translateY(100%);
    transition: var(--transition-long);
    transition-duration: .3s;
}

.work__slider-link:hover > article > div > * {
    transform: translateY(0);
}

.work__slider-link > article > div > time {
    font-size: .75rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: rgba(var(--light-color-rgb), .9);
}

.work__slider-link > article > div > h3 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: var(--light-color);
}

.work__slider-link > article > div > p {
    font-size: .875rem;
    line-height: 1.25rem;
    color: rgba(var(--light-color-rgb), .9);
}

.work__scrollbar {
    padding-top: 2rem;
}

.work__scrollbar-inner {
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(var(--secondary-color-rgb), .6), var(--secondary-color), rgb(var(--secondary-color-rgb), .6));
}

.work__scrollbar-inner > div {
    height: 100%;
    background-image: linear-gradient(to right, rgb(var(--light-grey-color-rgb), .3), rgb(var(--light-grey-color-rgb), 1), rgb(var(--light-grey-color-rgb), .3));
    width: 0%;
    transition: var(--transition);
    transition-duration: .3s;
}

@media (max-width: 1140px) {
    .work {
        border-top: none;
    }

    .work::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 1px;
        width: 100%;
        max-width: calc(1280px + 4rem);
        background-image: linear-gradient(to right, transparent, var(--secondary-color), transparent);
        z-index: -10;
    }
}

@media (max-width: 480px) {
    .work__slider-controls {
        padding: 0 1rem;
    }
}
/* End Work */

/* Start Testimonials */
.testimonials {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--dark-color);
    z-index: 10;
}

.testimonials::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    width: 100%;
    max-width: calc(1280px + 4rem);
    background-image: linear-gradient(to right, transparent, var(--secondary-color), transparent);
    z-index: -10;
}

.testimonials::after {
    content: '';
    position: absolute;
    margin: 0 auto;
    width: 100%;
    max-width: calc(1280px + 4rem);
    height: 100%;
    inset: 0;
    pointer-events: none;
    background-image: radial-gradient(40% 36% at 50% 0%,rgba(var(--primary-color-rgb), .04),rgba(var(--primary-color-rgb), 0) 100% 100%),radial-gradient(32% 20% at 50% 32%,rgba(var(--primary-color-rgb), .078),rgba(var(--primary-color-rgb), 0));
    z-index: -10;
}

.testimonials__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
}

.testimonials__heading {
    margin-bottom: 1rem;
}

.testimonials__marquee {
    display: flex;
    width: 100%;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, black 25%, black 75%, transparent);
}

.testimonials__list {
    display: flex;
    animation: marquee 35s linear infinite;
}

.testimonials__marquee:hover .testimonials__list {
    animation-play-state: paused;
}

@keyframes marquee {
    100% {
        transform: translate(-100%);
    }
}

.testimonials__item {
    position: relative;
    margin-inline-end: 2rem;
    padding: 2rem;
    height: 100%;
    width: 32rem;
    max-width: 80vw;
    flex: 0 0 auto;
    border-radius: .5rem;
    border: 1px solid rgba(var(--grey-color-secondary-rgb), .2);
    background-image: radial-gradient(circle at 50% 100%, rgba(var(--secondary-color-rgb), .5) 1%, var(--dark-color));
}

.testimonials__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: .5rem;
    height: 100%;
}

.testimonials__blockquote {
    color: var(--grey-color-secondary);
    font-size: 1rem;
    line-height: 1.625;
} 

.testimonials__author {
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-top: 1.5rem;
}

.testimonials__author-photo {
    width: 2.5rem;
    height: 2.5rem;
    background: linear-gradient(var(--dark-color), var(--dark-color)) padding-box padding-box, linear-gradient(42deg, var(--dark-color) 45%, rgba(var(--light-color-rgb), .9)) border-box border-box;
    border: 1px solid transparent;
    border-radius: 9999px;
    overflow: hidden;
    flex-shrink: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.testimonials__author-photo > img {
    width: 100%;
    height: 100%;
    background-color: var(--dark-grey-color);
}

.testimonials__author-info h3 {
    margin-bottom: .125rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--light-color);
}

.testimonials__author-info p {
    color: var(--grey-color-secondary);
    font-size: .875rem;
    line-height: 1.25rem;
}

.testimonials__canvas {
    position: absolute;
    inset: 0;
    pointer-events: none;
    mask-image: linear-gradient(to right, transparent, black 25%, black 75%, transparent);
    z-index: -10;
}

.testimonials__canvas canvas {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media (max-width: 1140px) {
    .testimonials__blockquote {
        font-size: .875rem;
        line-height: 1.625;
    }

    .testimonials__author-info p {
        font-size: .75rem;
        line-height: 1rem;
    }
}

@media (max-width: 768px) {
    .testimonials__item {
        padding: 1rem;
    }
}
/* End Testimonials */

/* Start Services */
.services {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--dark-color);
    z-index: 10;
}

.services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    width: 100%;
    max-width: calc(1280px + 4rem);
    background-image: linear-gradient(to right, transparent, var(--secondary-color), transparent);
    z-index: -10;
}

.services::after {
    content: '';
    position: absolute;
    margin: 0 auto;
    width: 100%;
    max-width: calc(1280px + 4rem);
    height: 100%;
    inset: 0;
    pointer-events: none;
    background-image: radial-gradient(40% 36% at 50% 0%,rgba(var(--primary-color-rgb), .04),rgba(var(--primary-color-rgb), 0) 100% 100%),radial-gradient(32% 20% at 50% 32%,rgba(var(--primary-color-rgb), .078),rgba(var(--primary-color-rgb), 0));
    z-index: -10;
}

.services__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
}

.services__heading {
    margin-bottom: 1rem;
}

.services__text {
    max-width: 65ch;
}

.services__grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.services__grid-item {
    position: relative;
    padding: .5px;
    border-radius: .375rem;
    border: 1px solid rgba(var(--grey-color-secondary-rgb), .2);
    background-image: linear-gradient(to right, rgb(var(--light-color-secondary-rgb), .3), rgb(var(--light-color-secondary-rgb), .8) 15%, rgb(var(--light-color-secondary-rgb), .3) 35%);
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / .04)) drop-shadow(0 4px 3px rgb(0 0 0 / .1));
    overflow: hidden;
}

.services__grid-cursor {
    display: none;
    pointer-events: none;
    position: absolute;
    z-index: 9999;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
    mix-blend-mode: difference;
}

.services__grid-item:hover .services__grid-cursor {
    display: block;
}

.services__grid-item:nth-child(1) {
    grid-column: span 2 / span 2;
}

.services__grid-item:nth-child(2) {
    grid-column: span 3 / span 3;
}

.services__grid-item:nth-child(3) {
    grid-column: span 3 / span 3;
}

.services__grid-item:nth-child(4) {
    grid-column: span 2 / span 2;
}

.services__grid-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2rem;
    border-radius: inherit;
    background-color: var(--dark-grey-color-secondary);
}

.services__grid-content > div > h3 {
    margin-bottom: .5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: var(--primary-color);
    text-wrap: balance;
}

.services__grid-content > div > h4 {
    display: flex;
    margin-bottom: .5rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: var(--light-color);
}

.services__grid-content > div > h4 > span {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
}

.services__grid-content > div > p {
    margin-bottom: 2rem;
    text-wrap: pretty;
    font-size: .875rem;
    line-height: 1.25rem;
    color: var(--light-color-secondary);
}

.services__grid-content > div > ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 2rem;
    color: var(--light-color-secondary);
}

.services__grid-content > div > ul li {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-size: 1rem;
    line-height: 1.25;
}

.services__grid-content > div > ul li svg {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--light-color);
    flex-shrink: 0;
}

.services__grid-content > div > small {
    display: block;
    margin-bottom: 2rem;
    font-size: .75rem;
    line-height: 1rem;
    color: var(--grey-color);
}

.services__grid-content > p {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--light-color);
}

.services__grid-content > p > svg {
    margin-inline-start: .5rem;
    width: 1.25rem;
    height: 1.25rem;
    transition: var(--transition);
}

.services__grid-item:hover .services__grid-content > p > svg {
    transform: translateX(25%);
}

.services__icon-check path:nth-child(1) {
    fill: var(--light-color);
    stroke: var(--light-color);
}

.services__icon-check path:nth-child(2) {
    fill: none;
    stroke: var(--dark-color);
}

.services__icon-plus path:nth-child(1) {
    fill: var(--dark-color);
    stroke: var(--light-color);
}

.services__icon-plus path:nth-child(2) {
    fill: none;
    stroke: var(--light-color);
}

@media (max-width: 1140px) {
    .services__grid-item:nth-child(1) {
        grid-column: span 5 / span 5;
    }
    
    .services__grid-item:nth-child(2) {
        grid-column: span 5 / span 5;
    }
    
    .services__grid-item:nth-child(3) {
        grid-column: span 5 / span 5;
    }
    
    .services__grid-item:nth-child(4) {
        grid-column: span 5 / span 5;
    }
}

@media (max-width: 768px) {
    .services__grid-content > div > h3 {
        font-size: 1rem;
    }

    .services__grid-content > div > h4 {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    .services__grid-content > div > ul li {
        font-size: .875rem;
    }
}
/* End Services */

/* Start Contact */
.contact {
    position: relative;
    width: 100%;
    background-color: var(--dark-color);
    z-index: 10;
}

.contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    width: 100%;
    max-width: calc(1280px + 4rem);
    background-image: linear-gradient(to right, transparent, var(--secondary-color), transparent);
    z-index: -10;
}

.contact__inner {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.contact__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 5rem;
}

.contact__description {
    width: 100%;
}

.contact__description-heading {
    margin-bottom: 1rem;
}

.contact__description-heading h2 {
    line-height: 1;
}

.contact__description-text:not(:last-child) {
    margin-bottom: 1rem;
}

.contact__description-heading span {
    display: inline-block;
    opacity: 0;
}

.contact__form > fieldset {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.contact__form > fieldset > div:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact__form > fieldset > div > label {
    display: block;
    margin-bottom: .5rem;
    font-size: .875rem;
    line-height: 1;
    text-transform: uppercase;
    color: var(--light-color-secondary);
}

.contact__form > fieldset > div > input,
.contact__form > fieldset > div > textarea {
    display: block;
    padding: .75rem;
    width: 100%;
    appearance: none;
    background-color: var(--dark-color-secondary);
    border-radius: .125rem;
    border: 1px solid var(--secondary-color);
    caret-color: var(--primary-color);
    transition: var(--transition);
    box-shadow: 0 0 #000, 0 0 #000, 0 0 10px transparent, inset 0 0 10px transparent;
    color: var(--light-color);
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.light-theme .contact__form > fieldset > div > input,
.light-theme .contact__form > fieldset > div > textarea {
    background-color: var(--dark-grey-color);
}

.contact__form > fieldset > div > input:focus,
.contact__form > fieldset > div > textarea:focus {
    box-shadow: 0 0 #000, 0 0 #000, 0 0 10px rgb(var(--primary-color-rgb), .7), inset 0 0 10px rgb(var(--primary-color-rgb), .7);
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: 1px solid rgb(var(--primary-color-rgb), .7);
}

.contact__form > fieldset > div > a {
    display: inline-flex;
    align-items: center;
    color: var(--light-color-secondary);
    transition: var(--transition);
}

.contact__form > fieldset > div > a:hover {
    color: var(--light-color);
}

.contact__form > fieldset > div > a svg {
    display: inline;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .5rem;
}

.contact__form button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding: .75rem 1.5rem;
    border: 1px solid var(--light-color);
    border-radius: .125rem;
    color: var(--dark-color);
    background-color: var(--light-color);
    font-size: 18px;
    line-height: 1.5;
    isolation: isolate;
    user-select: none;
    overflow: hidden;
    transition: var(--transition-long);
}

.contact__form button:hover {
    color: var(--light-color);
    letter-spacing: 1.25px;
}

.contact__form button::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(100% + 1.5rem);
    background-color: var(--dark-color);
    inset-inline-start: calc(-1 * .75rem);
    transform-origin: left;
    transform: scaleX(0) skewX(-16deg);
    transition: var(--transition-long);
    z-index: -10;
    transform: skew(-16deg) scaleX(0);
}

.contact__form button:hover::before {
    transform: skew(-16deg) scaleX(1);
}

.contact__form button svg {
    display: inline;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: .5rem;
}

@media (max-width: 1140px) {
    .contact__grid {
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }
}

@media (max-width: 768px) {
    .contact {
        padding: 7.5rem 0;
    }

    .contact::after {
        content: '';
        position: absolute;
        margin: 0 auto;
        width: 100%;
        max-width: calc(1280px + 4rem);
        height: 100%;
        inset: 0;
        pointer-events: none;
        background-image: radial-gradient(40% 36% at 50% 0%,rgba(var(--primary-color-rgb), .04),rgba(var(--primary-color-rgb), 0) 100% 100%),radial-gradient(32% 20% at 50% 32%,rgba(var(--primary-color-rgb), .078),rgba(var(--primary-color-rgb), 0));
        z-index: -10;
    }

    .contact__form button {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .contact__form > fieldset > div:last-child {
        flex-direction: column-reverse;
        align-self: stretch;
        align-items: flex-start;
        row-gap: 1.5rem;
    }

    .contact__form button {
        width: 100%;
    }
}
/* End Contact */

/* Start Source */
.source {
    position: relative;
    width: 100%;
    background-color: var(--dark-color);
    z-index: 10;
}

.source::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    width: 100%;
    max-width: calc(1280px + 4rem);
    background-image: linear-gradient(to right, transparent, var(--secondary-color), transparent);
    z-index: -10;
}

.source__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.source__description-heading {
    margin-bottom: 1rem;
}

.source__description-text {
    max-width: 65ch;
}

.source__button {
    margin-top: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding: .75rem 1.5rem;
    border: 1px solid var(--accent-color);
    border-radius: .125rem;
    color: var(--dark-color);
    background-color: var(--accent-color);
    font-size: 18px;
    line-height: 1.5;
    isolation: isolate;
    user-select: none;
    overflow: hidden;
    transition: var(--transition-long);
}

.source__button:hover {
    color: var(--accent-color);
    letter-spacing: 1.25px;
}

.source__button::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(100% + 1.5rem);
    background-color: var(--dark-color);
    inset-inline-start: calc(-1 * .75rem);
    transform-origin: left;
    transform: scaleX(0) skewX(-16deg);
    transition: var(--transition-long);
    z-index: -10;
    transform: skew(-16deg) scaleX(0);
}

.source__button:hover::before {
    transform: skew(-16deg) scaleX(1);
}

.source__canvas {
    position: absolute;
    inset: 0;
    pointer-events: none;
    mask-image: radial-gradient(circle at center center, #000, transparent 75%);
    opacity: .66;
    z-index: -10;
}

.source__canvas canvas {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media (max-width: 768px) {
    .source__button {
        font-size: 1rem;
    }
}
/* End Source */

/* Start Profile */
.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--dark-color);
    z-index: 10;
}

.profile__inner {
    max-width: 65ch;
    margin: 0 auto;
}

.profile__heading {
    margin-bottom: 2rem;
}

.profile__address {
    display: grid;
    row-gap: 4rem;
}

.profile__content h2 {
    margin-bottom: 1rem;
}

.profile__content p {
    line-height: 1.625;
}

.profile__content p a {
    color: var(--light-color);
    border-bottom: 1px solid var(--light-color);
    transition: var(--transition);
}

.profile__content p a:hover {
    color: var(--primary-color);
    border-color: var(--primary-color)
}
/* End Profile */

/* Start Articles */
.articles {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--dark-color);
    z-index: 10;
}

.articles::after {
    content: '';
    position: absolute;
    margin: 0 auto;
    width: 100%;
    max-width: calc(1280px + 4rem);
    height: 100%;
    inset: 0;
    pointer-events: none;
    background-image: radial-gradient(40% 36% at 50% 0%,rgba(var(--primary-color-rgb), .04),rgba(var(--primary-color-rgb), 0) 100% 100%),radial-gradient(32% 20% at 50% 32%,rgba(var(--primary-color-rgb), .078),rgba(var(--primary-color-rgb), 0));
    z-index: -10;
}

.articles__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 48rem;
    margin: 0 auto;
}

.articles__heading {
    margin-bottom: 1rem;
}

.articles__text {
    margin-bottom: 3.5rem;
}

.articles__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    width: 100%;
}

.articles__link {
    color: inherit;
    position: relative;
}

.articles__link::before {
    content: '';
    position: absolute;
    background-color: rgba(var(--dark-color-secondary-rgb), 0);
    border-radius: .375rem;
    inset: -1.5rem;
    transition: var(--transition);
    z-index: -10;
}

.articles__link:hover::before {
    background-color: rgba(var(--dark-color-secondary-rgb), .4);
}

.articles__img {
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: .375rem;
    border: .5px solid rgba(var(--light-color-rgb), .4);
}

.articles__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.articles__title {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .articles__link::before {
        inset: -.75rem;
    }

    .articles__text {
        font-size: .875rem;
    }
}
/* End Articles */

/* Start Article */
.article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--dark-color);
    z-index: 10;
}

.article::after {
    content: '';
    position: absolute;
    margin: 0 auto;
    width: 100%;
    max-width: calc(1280px + 4rem);
    height: 100%;
    inset: 0;
    pointer-events: none;
    background-image: radial-gradient(40% 36% at 50% 0%,rgba(var(--primary-color-rgb), .04),rgba(var(--primary-color-rgb), 0) 100% 100%),radial-gradient(32% 20% at 50% 32%,rgba(var(--primary-color-rgb), .078),rgba(var(--primary-color-rgb), 0));
    z-index: -10;
}

.article__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    margin-bottom: 2rem;
    width: fit-content;
    color: var(--light-color-secondary);
    transition: var(--transition);
}

.article__link:hover {
    color: var(--light-color);
}

.article__link svg {
    width: 1.75rem;
    color: var(--light-color-secondary);
    transform: rotate(180deg);
    transition: var(--transition);
}

.article__link:hover svg {
    color: var(--light-color);
    transform: rotate(180deg) translateX(25%);
}

.article__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 56rem;
    margin: 0 auto 2rem;
}

.article__heading {
    margin-bottom: 1rem;
}

.article__text {
    max-width: 65ch;
    margin: 0 auto;
}

.article__date {
    font-size: .875rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
}

.article__img {
    margin-bottom: 4rem;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: .375rem;
    border: .5px solid rgba(var(--light-color-rgb), .4);
}

.article__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article__text-wrapper {
    max-width: 65ch;
    width: 100%;
    margin: 0 auto;
}

.article__text-wrapper h1,
.article__text-wrapper h2,
.article__text-wrapper h3,
.article__text-wrapper h4,
.article__text-wrapper h5,
.article__text-wrapper h6 {
    padding-top: 2rem;
    margin: 3rem 0 1.5rem;
    border-top: 1px solid var(--secondary-color);    
    color: var(--light-color);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.33;
}

.article__text-wrapper ul li:not(:last-child),
.article__text-wrapper ol li:not(:last-child) {
    margin-bottom: .5rem;
}

.article__text-wrapper p {
    margin-bottom: 1.25rem;
    line-height: 1.75;
}

.article__text-wrapper strong {
    font-weight: 700;
}
/* End Article */

/* Start Footer */
.footer {
    padding: .75rem 0;
    border-top: .5px solid var(--secondary-color);
    background-color: var(--dark-color);
}

.footer__logo {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__img {
    width: 48px;
    height: 48px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--grey-color);
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 3rem 0;
}

.footer__link {
    font-size: .875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: var(--light-color-secondary);
    transition: var(--transition);
}

.footer__link:hover {
    color: var(--light-color);
}

.footer__bottom {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
    padding: 3rem 0;
}

.footer__copyright {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer__copyright > small {
    font-size: .75rem;
    line-height: 1rem;
    color: var(--light-color-secondary);
    text-transform: uppercase;
}

.footer__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.footer__social-link {
    color: var(--light-color-secondary);
}

.footer__social-link > svg {
    width: 1.75rem;
    height: 1.75rem;
}

.footer__social-link > svg path {
    transition: var(--transition);
    fill: var(--light-color-secondary);
}

.footer__social-link:hover > svg path {
    fill: var(--light-color)
}

.footer__imprint {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.footer__imprint > a {
    font-size: .75rem;
    line-height: 1rem;
    color: var(--light-color-secondary);
    text-transform: uppercase;
    transition: var(--transition);
}

.footer__imprint > a:hover {
    color: var(--light-color);
}

@media (max-width: 1140px) {
    .footer__bottom {
        grid-template-columns: 1fr;
    }

    .footer__copyright {
        justify-content: center;
        grid-row-start: 3;
    }

    .footer__imprint {
        justify-content: center;
        grid-row-start: 1;
    }
}
/* End Footer */